.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: cursive, serif, arial;
}

.title {
  font-size: 50px;
}

.btn-back {
  background-color: green;
  color: white;
  border-radius: 30%;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
}

.btn-back:hover {
  color: white;
  font-size: 30px;
  transition: 0.9s;
  background-color: red;
}

.background-color {
  background-color: antiquewhite;
}

.color-brownie,
.nougat,
.chimarrao {
  background-color: burlywood;
  border-radius: 30%;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.nougat {
  background-color: ghostwhite;
}

.chimarrao {
  background-color: rgb(98, 202, 98);
}
